.box{
	margin-top: 3em;
	border-radius: 10px;
	box-shadow: 0 0 5 5 #ccc;
	box-shadow: 0 0 3px 3px #eee, 0 0 3px 3px #ccc inset;
	transition: all 0.5s ease;
	cursor: pointer;
}
.box:hover{
	box-shadow:  0 0 3px 3px #fff, 0 0 4px 4px #ccc inset ;
}
.tags{
	transition: all 1s linear;
    color: #000;
}
.tags:hover{
	text-decoration: none;
    color: #666;
}
a:hover{
	text-decoration: none;
}

.well{
	margin-top: 3em;
}
.gly-left{
	padding-left: 26px;
	padding-bottom: 10px;
}
.gly-right{
	padding-right: 10px;
	padding-bottom: 10px;
}