<div class="row">
	<div class="col-xs-12">
		<h4 class="lead">Comment</h4>
		<form method='post' action="{% url 'Blog:comment' artical.pk %}">
			{% csrf_token %}
			{% for field in form %}
				{{ field }}
				{{ field.errors }}
				<br>
			{% endfor %}
			<button type="submit" class="btn btn-info">评论</button>
		</form>
		
		<hr>

		{% for comment in comment_list %}
		<div class="box">
			<div class="row">
				<div class="col-xs-1  text-center lead">{{ comment.user_name }}</div>
				<div class="col-xs-3 col-xs-offset-8 text-muted">{{ comment.create_time }}</div>
			</div>
			<div class=" lead">{{ comment.body }}</div>
			<hr>
			<a href="#" class="btn btn-info" title="不用点了，我不会做回复功能.">回复</a>
		</div>
		{% endfor %}
	</div>
</div>