{% extends 'Blog/base.html' %}
{% load staticfiles %}
{% block link %}
<link rel="stylesheet" href="{% static 'Blog/css/detail.css' %}">
{% endblock %}

{% block title %}
	{{ artical.title }}
{% endblock %}

{% block content %}

<div class="container">
	<div class="row">
		<div class="col-xs-12 col-md-8">
			<h1>{{ artical.title }}</h1>
			<hr>
			<div class="row">
				
					<div class="col-xs-12 col-md-3 small"><i class="fa fa-eye"></i>Views: {{ artical.views }} </div>
					<div class="col-xs-12 col-md-3 col-md-offset-6 small text-right"><i class="fa fa-calendar-minus-o"></i> {{ artical.create_time }} </div>
				
			</div>
			{{ artical.body | safe }}
			<br><br><br>

			{% include 'Blog/comment.html' %}
		</div>

		<div class="col-xs-12 col-md-4">
			{% include 'Blog/category.html' %}
		</div>
	</div>
</div>

{% endblock %}