{% extends 'Blog/base.html' %}
{% load staticfiles %}
{% block link %}
<link rel="stylesheet" href="{% static 'Blog/css/T.css' %}">
{% endblock %}

{% block title %}
Blog
{% endblock %}

{% block content %}
    <div class="container ">
        <div class="row">

            <div class="col-xs-12 col-md-8 ">
                {% load paginate_tags %}
                {% paginate artical_list 3 %}
                {% for artical in artical_list %}
                <div class=" box">
                    <a href="{% url 'Blog:detail' artical.id %}"> <div class="well-sm">
                                <h2 class="text-center">{{ artical.title }} </h2></div></a>
                                
                    <hr>
                                <div class="row">
                                    <div class="col-xs-10 col-xs-offset-1 col-md-8 col-md-offset-2">{{ artical.body | truncatechars:181 |safe  }}</div>
                                </div>

                                <br>

                                <div class="row">
                                    <div class="col-xs-6 gly-left">
                                        <i class="fa fa-eye"></i>Views: {{ artical.views }} 
                                    </div>
                                    <a href="{% url 'Blog:detail' artical.id %}">
                                        <div class="col-xs-6 text-right">
                                            <span class=" gly-right "> Read More <i class="fa fa-paper-plane"></i> </span>
                                        </div>
                                    </a>
                                </div>
                            
                        
                </div> 
                {% endfor %}

                <div>{% include 'Blog/pagination.html' %}</div>



            </div>

            <div class="col-xs-12 col-md-4">
                {% include "Blog/category.html" %}
            </div>

        </div>
    </div>
{% endblock content %}
